<!-- <h1>Start learn Angular</h1> -->
<!-- <h2>{{ title }}</h2> --><!-- інтерполяція -->
<!-- <h2>Yohooo {{ title }}</h2>
<h2>{{'Hi,' + title }}</h2>
<a [href]="link">google</a>
<hr>
<a [attr.href]="link" target="_blank" [textContent]="nameLink"></a>
<hr>
<input type="button" value="add" (click)="addText()">
<h2>Text after click: {{text}}</h2>
<hr>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p> -->

<!-- <app-header></app-header> -->
<app-footer></app-footer>

<router-outlet></router-outlet>